.circular-gauge-wrapper {
    height: 120px;
    margin-top: 20px;
}

.circular-gauge-title {
    text-align: center;
    color: var(--color-primary);
}

.circular-gauge-label {
    position: relative;
    top: calc(var(--font-header-size) * 2);
    margin-bottom: calc(var(--font-header-size) * -1);

    text-align: center;
    font-size: var(--font-size);
}

.circular-gauge-chart {
    height: 120px;
}
