.table {
    width: 100%;
    /* table-layout: fixed; */
    /* overflow-wrap: break-word; */
    text-align: left;
}

.table>thead {
    color: var(--font-color-secondary);
    white-space: nowrap;
}

.table>tbody>tr>td:not(:first-child) {
    width: 50px;
}
