.table {
    width: 100%;
    text-align: left;
}

.table>thead {
    color: var(--color-secondary);
    white-space: nowrap;
}

.table>tbody>tr>td:not(:first-child) {
    width: 150px;
    white-space: nowrap;
    text-align: left;
}

.table-highlight {
    color: var(--color-secondary);
}