.card {
    margin: 5px;
}

.card>fieldset {
    border: solid;
    border-width: medium;
    border-color: var(--color-primary);
    padding: 5px;
}

.card-content {
    margin-left: 5px;
    margin-right: 5px;
}

.legend {
    padding-left: 5px;
    padding-right: 5px;
    font-size: var(--font-header-size);
    color: var(--color-secondary);
}

.no-legend {
    height: calc((var(--font-header-size)/2) + 3px);
}
