.App {
  background-color: black;
  /* //TODO: extract colors to a config and use scss */
  background-image: radial-gradient(
  rgba(120, 70, 0, 0.75), black 120%
  );
  height: 100vh;
  margin: 0;
  padding: 2rem;
  color: white;
}

.App::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
  0deg,
  rgba(0, 0, 0, 0.15),
  rgba(0, 0, 0, 0.15),
  transparent 12px,
  transparent 20px
  );
}

::selection {
  background: #0080FF;
  text-shadow: none;
}

p {
  margin: 0;
  font: 5rem Inconsolata, monospace;
  color: rgb(190, 110, 0);
  text-shadow: 0 0 5px #C8C8C8;
}

.blink_me {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
  opacity: 0;
  }
}
