:root {
    --background-color: #824c00;

    --color-primary: #d47c00;
    --color-secondary: #ffae3e;

    --font-shadow-color: #ffa321;

    --font-header-size: 32px;
    --font-size: 20px;
}

/* amber */
/* :root {
    --background-color: #824c00;

    --color-primary: #d47c00;
    --color-secondary: #ffae3e;

    --font-shadow-color: #ffa321;

    --font-header-size: 32px;
    --font-size: 20px;
} */

/* blue */
/* :root {
    --background-color: #005f8f;
    --background-color-secondary: #001a41;

    --color-primary: #66a2ce;
    --color-secondary: #00aeff;

    --font-shadow-color: #00538e;

    --font-header-size: 32px;
    --font-size: 20px;
} */
