:root {
    --background-color: #000000;
    --background-color-secondary: #000000;

    --color-primary: #ff7300;
    --color-secondary: #ffb376;
    --color-alert: #ff0000;

    --font-shadow-color: #944300;

    --font-header-size: 36px;
    --font-size: 24px;
}

/* orange */
/*
:root {
    --background-color: #000000;
    --background-color-secondary: #000000;

    --color-primary: #e8feff;
    --color-secondary: #90aca9;
    --color-alert: #ff0000;

    --font-shadow-color: #9fdff5;

    --font-header-size: 36px;
    --font-size: 24px;
}
*/
/* green */
/* 
:root {
    --background-color: #000000;
    --background-color-secondary: #000000;

    --color-primary: #349620;
    --color-secondary: #4af626;

    --font-shadow-color: #349620;

    --font-header-size: 32px;
    --font-size: 20px;
}
*/

/* amber */
/* 
:root {
    --background-color: #8a5100;
    --background-color-secondary: #2c1900;
    
    --color-primary: #d47c00;
    --color-secondary: #ffae3e;

    --font-shadow-color: #ffa321;

    --font-header-size: 32px;
    --font-size: 20px;
}
*/

/* blue */
/* 
:root {
    --background-color: #005f8f;
    --background-color-secondary: #001a41;

    --color-primary: #66a2ce;
    --color-secondary: #00aeff;

    --font-shadow-color: #00538e;

    --font-header-size: 32px;
    --font-size: 20px;
}
*/
