.component-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.component-column-1 {
    width: 50%;
    flex: 1;
}

.component-column-2 {
    width: 50%;
    flex: 2;
}
